{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <title>🦁프로필</title>
</head>
<body>
    <div class="mypage-box">
        <header>
            <div class="header-left">
                <img class="icon" src="{% static 'images/icon.svg' %}" alt="">
                <h2>프로필</h2>
            </div>
            <a href="{% url 'logout' %}" class="out-btn" title="로그아웃">
                <img src="{% static 'images/out.svg' %}" alt="메인으로 이동" />
            </a>
        </header>

        <section class="profile-section">
            <div class="profile-card">
                <img class="profile-image" src="{% static 'images/profile.jpg' %}" alt="프로필 사진">

                <div class="field-group">
                    <label for="nickname">닉네임</label>
                    <span id="profile-nickname" class="field-value">연재</span>
                </div>

                <div class="field-group">
                    <label for="birth">생년월일</label>
                    <span class="field-value">2002.08.12.</span>
                </div>

                <div class="field-group">
                    <label for="email">이메일</label>
                    <span id="profile-email" class="field-value field-value--action" data-email="lyeonj@sookmyung.ac.kr">lyeonj@sookmyung.ac.kr</a>
                </div>

                <div class="field-group">
                    <label for="phone">전화번호</label>
                    <span id="profile-phone" class="field-value field-value--action" role="button" tabindex="0" data-tel="01000001812">010-****-1812</span>
                </div>

                <div class="field-group">
                    <label for="department">학과</label>
                    <span class="field-value">IT공학전공</span>
                </div>

                <div class="field-group">
                    <label for="self-introduction">자기소개</label>
                    <span class="field-value">
                        안녕하세요. 멋사 14기 프론트엔드 아기사자 이연재입니다!
                        <br>저는 원숭이를 좋아해요~🐵
                    </span>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'js/mypage.js' %}"></script>
</body>
</html>
